<div class="wrapper">
  <!-- bloc-6 -->
  <div class="bloc l-bloc full-width-bloc" id="bloc-6">
    <div class="container bloc-no-padding">
      <div class="row voffset-clear-xs no-gutters">
        <div class="col-12">
          <h3 class="mg-md training-title">
            Training
          </h3>
          <%= image_tag "book.jpg", class: "img-fluid mx-auto d-block lazyload", alt: "book" %>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-6 END -->
  <!-- bloc-7 -->
  <div class="container mt-2">
    <%= link_to 'javascript:history.back()' do %>
      <button class="btn btn-link">戻る</button>
    <% end %>
  </div>
  <div class="bloc l-bloc" id="bloc-7">
    <div class="container bloc-lg">
      <div class="row">

        <div class="col-md-4">

          <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <%= image_tag "kansu1.jpg", class: "card-img-top", style: "height:100px;object-fit:cover;" %>
            <div class="card-body">
              <h4 class="card-title">Lesson1</h4>
              <p class="card-text">はじめに</p>
            </div>
            <ul class="list-group list-group-flush">
              <% @kansu1.each do |kansu1| %>
                <%= link_to training_path(kansu1) do %>
                  <li class="list-group-item list-hover"><%= kansu1.title %></li>
                <% end %>
              <% end %>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- bloc-7 END -->
</div>