<div class="wrapper">
  <div class="container mt-2">
    <%= link_to 'javascript:history.back()' do %>
      <button class="btn btn-link">Back</button>
    <% end %>
  </div>
  <!-- question-new -->
    <div class="bloc l-bloc none" id="question-new">
      <div class="container bloc-lg">
        <div class="row">
          <div class="col">
            <div class="request-new-form">
              <%= form_with model: @question, method: :post, local: true do |f| %>
                <div>
                  <label class="question-new-title ">
                    質問タイトル
                  </label>
                  <%= f.text_field  :title, class: "form-control" %>
                </div>
                <div class="mt-3">
                  <label class="question-new-content">
                    質問内容<br>
                  </label>
                  <%= f.text_area :content, class: "form-control", rows: "20", cols: "50", placeholder: "どのような実装を試みていて、どのようなエラーが出ているのか？詳細を記入してください。" %>
                </div> 
                <%= f.submit "投稿する", class: "bloc-button btn btn-d btn-lg btn-block question-submit-btn mt-3" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- question-new END -->
</div>