<div class="wrap">
<!-- bloc-2 -->
<div class="container mt-2">
	<%= link_to 'javascript:history.back()' do %>
		<button class="btn btn-link">Back</button>
	<% end %>
</div>
<div class="bloc l-bloc" id="bloc-2">
	<div class="container bloc-lg bloc-lg-lg">
		<div class="row no-gutters">
			<div class="col">
				<div class="card question-show-card">
					<div class="card-header question-show-title">
						<div class="text-center">
							<span class="icon-md question-icon far fa-question-circle"></span>
						</div>
						<h3 class="mg-clear btn-resize-mode">
							<%= @question.title %>
						</h3>
					</div>
					<div class="card-body">
						<p>
							<%= @question.content %>
						</p>
						<p>質問者：<%= @question.engineer.nickname %>さん</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div>
					<div class="form-wrap">
						<label class="question-show-answer-label">
							回答欄<br>
						</label>
            <%= form_with(model: [@question, @answer], local: true) do |f| %>
              <div class="form-wrap">
                <%= f.text_area :answer, class: "form-control", rows: "4", cols: "50" %>
              </div>
              <%= f.submit "回答する", class: "btn btn-d btn-lg float-lg-right question-answer-btn" %>
            <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-2 END -->

<!-- bloc-3 -->
<div class="bloc l-bloc " id="bloc-3">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<div>
					<label class="asnwer-label">
						Answer
					</label>
          <% if @answers.present? %>
            <% @answers.each do |answer| %>
              <div class="card mt-2">
                <div class="card-body">
                  <h6 class="mg-md answer-engineer-label">
                    <%= answer.engineer.nickname %>さんの回答
                  </h6>
                  <p>
                    <%= answer.answer %>
                  </p>
                  <div class="form-wrap text-left">
										<% if answer.question.engineer == current_engineer %>
											<div>
												<button class="bloc-button btn countup" data-question-id="<%= answer.question.id %>" data-answer-id="<%= answer.id %>"><i class="far fa-thumbs-up"></i></button>
												評価：
												<span class="rating-<%= answer.id %>">
													<%= answer.rate %>
												</span>
												<button class="bloc-button btn countdown" data-question-id="<%= answer.question.id %>" data-answer-id="<%= answer.id %>"><i class="fas fa-thumbs-down"></i></button>
											</div>
										<% else %>
											<div class="rating-star">
												<% if answer.rate.present? %>
													評価：<p class="star-actived rate-<%= answer.rate %>"></p>
												<% end %>
											</div>
										<% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>まだ回答はありません</p>
          <% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->
</div>