<div class="wrapper">
  <!-- bloc-0 -->
  <div class="bloc l-bloc " id="bloc-0">
    <div class="container bloc-lg">
      <div class="row">

        <% @engineers.each do |engineer| %>
          <div class="col-lg-4 col-md-4">
            <div class="card mt-2">
              <div class="card-body team-card">
                <% if engineer.image.attached? %>
                  <%= image_tag engineer.image, class: "rounded-circle mx-auto d-block mt-5 lazyload face-image", width: "100px;" %>
                <% end %>
                <h3 class="text-center mg-sm">
                  <%= engineer.nickname %>さん
                </h3>
                <h5 class="text-center mg-md">
                  <table class="table table-sm">
                    <tr>
                      <th class="text-center engineer-info">開発言語</th>
                      <td class="engineer-info">
                        <%= engineer.language.name %>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center engineer-info">クライアント評価</th>
                      <td class="engineer-info">
                        <% if engineer.ratings.where.not(rate: nil).present? %>
                          <span class="ml-2"><p class="star-actived rate-<%= engineer.ratings.average(:rate).round %>"></p></span>
                        <% else %>
                          <span>-</span>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center engineer-info">エンジニア評価</th>
                      <td class="engineer-info">
                        <% if engineer.answers.where.not(rate: nil).present? %>
                          <span class="ml-2"><p class="star-actived rate-<%= engineer.answers.average(:rate).round %>"></p></span>
                        <% else %>
                          <span>-</span>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                  <%= link_to "詳細", top_engineer_show_path(engineer.id), class: "bloc-button btn btn-d btn-lg btn-block request-new-button mt-5 text-white font-weight-bold" %>
                </h5>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <!-- bloc-0 END -->
</div>