<% if false %>
<div class="top" style="background-image: url(<%= asset_path('main4.jpg') %>)">
  <div class="container">
    <div class="title-box">
      <div class="main-box">
        <h1>Exce Bridge</h1>
        <div class="container devise-boxs d-flex justify-content-around mt-3">
          <div class="devise-customer">
            <p class="top-title">お仕事の依頼をご希望の方</p>
            <%= link_to "Sign Up", new_customer_registration_path, class: "signup-button" %>
            <%= link_to "Sign In", new_customer_session_path, class: "signin-button mt-2" %>
          </div>
          <div class="devise-engineer">
            <p class="top-title">エンジニア・学習希望の方</p>
            <%= link_to "Sign Up", new_engineer_registration_path, class: "signup-button" %>
            <%= link_to "Sign In", new_engineer_session_path, class: "signin-button mt-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main">

</div>
<% end %>

<!-- bloc-1 -->
<div class="bloc bg-keyboard-2308477-1920 tc-silver" id="bloc-1">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-md-6 order-md-1 col-lg-3 devise-box offset-lg-2">
				<h4 class="float-lg-none text-lg-center tc-princeton-orange glow-t">
					Customer
				</h4><a href="index.html" class="btn btn-lg btn-style btn-princeton-orange btn-rd btn-glossy">Sign in</a><a href="index.html" class="btn btn-lg btn-button-style btn-rd wire-btn-princeton-orange btn-wire">Sign up</a>
			</div>
			<div class="col-md-6 order-md-1 col-lg-3 devise-box offset-lg-2">
				<h4 class="text-lg-center tc-princeton-orange glow-t">
					Engineer
				</h4><a href="index.html" class="btn btn-lg btn-style btn-rd btn-princeton-orange btn-glossy">Sign in</a><a href="index.html" class="btn btn-lg btn-button-style wire-btn-princeton-orange btn-rd btn-wire">Sign up</a>
			</div>
			<div class="col-md-6 align-self-center offset-lg-1 col-lg-10">
				<h2 class="mg-md tc-silver">
					ExeceBridge
				</h2>
				<h3 class="mg-md tc-silver">
					Excel作業を外注して業務効率化しませんか？
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->