<div class="top" style="background-image: url(<%= asset_path('main4.jpg') %>)">
  <div class="container">
    <div class="title-box">
      <div class="main-box">
        <h1>Exce Bridge</h1>
        <div class="container devise-boxs d-flex justify-content-around mt-3">
          <div class="devise-customer">
            <p class="top-title">お仕事の依頼をご希望の方</p>
            <%= link_to "Sign Up", new_customer_registration_path, class: "signup-button" %>
            <%= link_to "Sign In", new_customer_session_path, class: "signin-button mt-2" %>
          </div>
          <div class="devise-engineer">
            <p class="top-title">エンジニア・学習希望の方</p>
            <%= link_to "Sign Up", new_engineer_registration_path, class: "signup-button" %>
            <%= link_to "Sign In", new_engineer_session_path, class: "signin-button mt-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main">

</div>


<% if false %>
<div class="wrapper pb-5">

  <div class="main">
    <%= image_tag 'main3.jpg', class: "main-image" %>
    <p class="main-title">Excelで業務効率化しませんか？</p>
  </div>

  <div class="beginner-box">
    <div class="beginner-btn mt-5">
      <%= link_to root_path do %>
        <%= image_tag 'beginner.png', class: "beginner-image" %>
        <span class="beginner-text">初めての方はこちら</span>
      <% end %>
    </div>
  </div>

  <div class="main-btn pt-5">
    <div class="left-btn">
      <%= link_to "お仕事の発注をご希望の方へ", new_request_path, class: "customer-btn" %>
    </div>
    <div class="right-btn">
      <%= link_to "お仕事の受注をご希望の方へ", requests_path, class: "engineer-btn" %>
    </div>
  </div>

  <div class="contents mt-5">
    <div class="left-contents">
      依頼一覧
    </div>
    <div class="right-contents">
      エンジニア一覧
    </div>
  </div>

</div>
<% end %>