<div class="wrapper">
  <div class="container mt-2">
    <%= link_to 'javascript:history.back()' do %>
      <button class="btn btn-link">戻る</button>
    <% end %>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-lg-8 offset-lg-4 col-md-6 offset-md-3 shadow p-3 mb-5 mt-5 bg-white rounded user-form">
        <%= form_with model: @user, local: true do |f| %>

          <div class="container bloc-sm">
            <div class="row justify-content-center">
              <div class="text-center">
                <label for="input_image">
                  <% if @user.image.attached? %>
                    <div class="customer-image">
                      <%= image_tag @user.image, class: "img-fluid mx-auto d-block lazyload face-image", alt: "placeholder user" %>
                    </div>
                  <% else %>
                    <div class="customer-image">
                      <%= image_tag "placeholder-user.png", class: "img-fluid mx-auto d-block lazyload face-image", alt: "placeholder user" %>
                    </div>
                  <% end %>
                  <%= f.file_field :image, name: "customer[image]", id: "input_image", class: "hidden" %>
                </label>
                <br>
                <small class="text-nowrap">※写真を登録する場合は、画像をクリックしてください。</small>
              </div>
            </div>
          </div>

          <div class="field mt-3">
            <%= f.label :"氏名(漢字)" %><span class="badge badge-danger ml-2">必須</span><span>（法人の場合は窓口となる方の氏名）</span><br>
            <%= f.text_field :first_name, autofocus: true, placeholder: "姓", class: "name-form" %>
            <%= f.text_field :last_name, autofocus: true, placeholder: "名", class: "name-form ml-2" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"氏名(カナ)" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.text_field :first_name_kana, autofocus: true, placeholder: "セイ", class: "name-form" %>
            <%= f.text_field :last_name_kana, autofocus: true, placeholder: "メイ", class: "name-form ml-2" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"表示名" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.text_field :nickname, autofocus: true, placeholder: "サイトに表示させる名前", class: "nickname-form" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"郵便番号" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.text_field :post_code, placeholder: "例)123-4567", maxlength: "8", class: "post-form" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"都道府県" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
          </div>

          <div class="field mt-3">
            <%= f.label :"市区町村" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）横浜市緑区", class: "address-form" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"番地" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.text_field :house_number, class:"input-default", id:"addresses", placeholder:"例）青山1-1-1", class: "address-form" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"建物名" %><span class="badge badge-info ml-2">任意</span><br>
            <%= f.text_field :building_name, class:"input-default", id:"building", placeholder:"例）柳ビル103", class: "address-form" %>
          </div>

          <div class="field mt-3">
            <%= f.label :"電話番号" %><span class="badge badge-danger ml-2">必須</span><br>
            <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"例）09012345678",maxlength:"11", class: "phone-form", data: {toggle: "tooltip", placement: "top", container: "body"}, title: "半角数字" %>
          </div>

          <div class="devise-submit-box mt-4">
            <%= f.submit "更新", class: "devise-submit" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>