<div class="wrapper">
  <!-- image-bloc -->
  <div class="bloc bg-customer d-bloc none bloc-bg-texture texture-pixels">
    <div class="container bloc-xxl-lg">
      <div class="row">
        <div class="col">
          <div class="mt-5 mb-5">
            <h3 class="text-white font-weight-bold">ExceBridge</h3>
            <br>
            <p class="text-white font-weight-bold"></p>
            <%= link_to manual_customers_path, class: "btn btn-radius-solid font-weight-bold" do %>
              <i class="fas fa-book-open mr-2 book-icon"></i><span>利用マニュアル</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- image-bloc END -->

  <div class="container pb-5">
    <label class="customer-label mt-3 ml-2">Main</label>
    <div class="customer-main-btn mt-3">
      <div>
        <%= link_to "新規依頼作成", new_request_path, class: "customer-important-btn", data: {toggle: "tooltip", placement: "top", container: "body"}, title: "依頼はこちら" %>
      </div>
      <div>
        <%= link_to "依頼状況", status_customer_path(current_customer.id), class: "customer-normal-btn", data: {toggle: "tooltip", placement: "top", container: "body"}, title: "進捗状況の確認" %>
      </div>
      <div>
        <%= link_to "完了案件", completed_requests_path, class: "customer-normal-btn", data: {toggle: "tooltip", placement: "top", container: "body"}, title: "完了済み案件の確認" %>
      </div>
    </div>

    <hr class="line">

    <label class="customer-label mt-3 ml-2">Search</label>
    <div class="customer-menu">
      <%= link_to "エンジニア一覧", engineers_tops_path, class: "customer-sub-btn" %>
    </div>
  </div>
</div>
