<div class="pb-5">
  <!-- bloc-1 -->
  <div class="bloc l-bloc" id="bloc-1">
    <div class="container bloc-sm">
      <div class="row ">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
          <div class="">
            <% if current_customer.image.attached? %>
              <%= image_tag current_customer.image, class: "img-fluid mx-auto d-block lazyload face-image", alt: "placeholder user" %>
            <% else %>
              <%= image_tag "placeholder-user.png", class: "img-fluid mx-auto d-block lazyload face-image", alt: "placeholder user" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-1 END -->
  <div class="container">
    <div class="mt-5 user-table">
      <label class="devise-label">基本情報</label>
      <table class="table table-sm">
        <tr>
          <th>名前</th>
          <td><%= current_customer.name %></td>
        </tr>
        <tr>
          <th>名前(カナ)</th>
          <td><%= current_customer.name_kana %></td>
        </tr>
        <tr>
          <th>サイト表示名</th>
          <td><%= current_customer.nickname %></td>
        </tr>
        <tr>
          <th>email</th>
          <td><%= current_customer.email %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= current_customer.post_code %></td>
        </tr>
        <tr>
          <th>都道府県</th>
          <td><%= current_customer.prefecture.name %></td>
        </tr>
        <tr>
          <th>市区町村</th>
          <td><%= current_customer.city %></td>
        </tr>
        <tr>
          <th>番地</th>
          <td><%= current_customer.house_number %></td>
        </tr>
        <tr>
          <th>建物名</th>
          <td><%= current_customer.building_name %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= current_customer.phone_number %></td>
        </tr>
      </table>
      <div class="text-right">
        <%= link_to "編集", edit_customer_path(current_customer), class: "btn btn-md btn-warning" %>
      </div>
    </div>

  </div>
</div>