<label class="text-left">申請者一覧</label>
<%= form_with model: @agreement_complete, url: request_agreements_path(@request.id), method: :post, local: true do |f| %>
  <table class="table table-sm table-bordered">
    <tr class="text-center">
      <th style="width: 20%;" class="align-middle">No.</th>
      <th style="width: 40%;" class="align-middle">申請者</th>
      <th style="width: 40%;" class="align-middle">依頼するエンジニアを選択</th>
    </tr>
    <% if @reply == true %>
      <% @request.orders.each_with_index do |order, i| %>
        <tr>
          <td class="align-middle text-center"><%= i + 1 %></td>
          <td class="align-middle text-center">
            <%= order.engineer.nickname %>
          </td>
          <td class="text-center">
            <%= f.hidden_field :order_id, value: order.id %>
            <%= f.hidden_field :answer, value: true %>
            <%= f.hidden_field :conclusion, value: false %>
            <%= f.radio_button :engineer_id, order.engineer.id %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= f.submit "依頼確定" %>
<% end %>