<div class="wrapper">
  <div class="container">
    <div class="rating-group shadow-sm p-3 mb-5 mt-3 bg-white rounded">
      <label class="rating-title"><%= @engineer.nickname %>さんの評価</label>
      <%= form_with(model: [@engineer, @rating], local: true) do |f| %>
        <div>
          <%= f.label :評価 %>
          <%= f.number_field :rate, min: 1, max: 10, class: "rating-number ml-2" %>
          <span>(10段階評価)</span>
        </div>
        <div>
          <%= f.text_area :customer_comment, placeholder: "コメントをご記入ください", rows: "8", cols: "80", class: "rating-textarea" %>
        </div>
        <div>
          <%= f.submit "送信", class: "rating-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>