<div class="wrapper">
  <div class="container mt-5">
    <table class="table table-bordered table-hover table-sm">
      <tr class="text-center">
        <td>案件番号</td>
        <td>依頼主</td>
        <td>タイトル</td>
        <td>依頼受諾日</td>
        <td>ステイタス</td>
      </tr>
      <% @ordered_requests.each do |request| %>
        <tr class="text-center">
          <td>
            <%= link_to request_path(request.id) do %>
              <%= request.id %>
            <% end %>
          </td>
          <td><%= request.customer.nickname %></td>
          <td><%= request.title %></td>
          <td><%= request.created_at %></td>
          <td>
            <% if request.agreements.where(answer: true, engineer_id: current_engineer.id).present? %>
              <%= current_engineer.nickname %>さん対応
            <% elsif request.agreements.where(answer: true).present? %>
              他者に確定
            <% else %>
              未確定
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>