<div class="wrapper">
  <div class="container mt-5">
    <table class="table table-hover table-sm">
      <tr class="text-center">
        <th class="table-th">案件番号</th>
        <th class="table-th">依頼主</th>
        <th class="table-th">タイトル</th>
        <th class="table-th">依頼受諾日</th>
        <th class="table-th">完了報告</th>
      </tr>
      <% @completed_orders.each do |order| %>
        <tr class="text-center align-middle">
          <td class="table-td">
            <%= link_to request_path(order.request.id) do %>
              <%= order.request.id %>
            <% end %>
          </td>
          <td class="table-td align-middle"><%= order.request.customer.nickname %></td>
          <td class="table-td align-middle"><%= order.request.title %></td>
          <td class="table-td align-middle"><%= order.created_at %></td>
          <td class="table-td align-middle">
            <%= link_to "取消", request_complete_path(order.request.id, complete: {conclusion: false}), method: :put, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>