<div class="wrapper">
  <div class="container mt-2">
    <%= link_to 'javascript:history.back()' do %>
      <button class="btn btn-link">戻る</button>
    <% end %>
  </div>
  <div class="container mt-2">
    <div class="shadow-sm p-3 mb-5 bg-white rounded mt-5 d-flex justify-content-center">
      <%= form_with model: @user, method: :put, local: true do |f| %>

        <div class="container bloc-sm">
          <div class="row">
            <div class="text-center">
              <label for="input_image">
                <% if current_engineer.image.attached? %>
                  <div class="engineer-image">
                    <%= image_tag current_engineer.image, class: "img-fluid mx-auto d-block lazyload face-image", alt: "placeholder user" %>
                  </div>
                <% else %>
                  <div class="engineer-image">
                    <%= image_tag "placeholder-user.png", class: "img-fluid mx-auto d-block lazyload face-image", alt: "placeholder user" %>
                  </div>
                <% end %>
                <%= f.file_field :image, name: "engineer[image]", id: "input_image", class: "hidden" %>
              </label>
              <br>
              <small class="text-nowrap">※写真を登録する場合は、画像をクリックしてください。</small>
            </div>
          </div>
        </div>

        <div class="field mt-3">
          <%= f.label :"登録情報" %><span class="badge badge-danger ml-2">必須</span><br>
          <div class="switchArea">
            <%= f.check_box :study_id, id: "switch", class: "hidden", checked_value: "1", unchecked_value: "0" %>
            <label for="switch" class="switch-area"><span></span></label>
            <div id="swimg"></div>
          </div>
        </div>

        <div class="field mt-3">
          <%= f.label :"氏名(漢字)" %><span class="badge badge-danger ml-2">必須</span><br>
          <%= f.text_field :first_name, autofocus: true, placeholder: "姓", class: "name-form" %>
          <%= f.text_field :last_name, autofocus: true, placeholder: "名", class: "name-form ml-2" %>
        </div>

        <div class="field mt-3">
          <%= f.label :"氏名(カナ)" %><span class="badge badge-danger ml-2">必須</span><br>
          <%= f.text_field :first_name_kana, autofocus: true, placeholder: "セイ", class: "name-form" %>
          <%= f.text_field :last_name_kana, autofocus: true, placeholder: "メイ", class: "name-form ml-2" %>
        </div>

        <div class="field mt-3">
          <%= f.label :"表示名" %><span class="badge badge-danger ml-2">必須</span><br>
          <%= f.text_field :nickname, autofocus: true, placeholder: "サイトに表示させる名前", class: "nickname-form" %>
        </div>

        <div class="field mt-3">
          <%= f.label :"開発言語" %><span class="badge badge-danger ml-2">必須</span><br>
          <%= f.collection_select(:language_id, Language.all, :id, :name, {}, { class: "select-box" }) %>
        </div>

        <div class="field mt-3">
          <%= f.label :profile %><span class="badge badge-danger ml-2">必須</span><br>
          <%= f.text_area :profile, autofocus: true, placeholder: "自己PRをご記入ください。", class: "text-form" %>
        </div>

        <div class="devise-submit-box mt-4">
          <%= f.submit "更新", class: "devise-submit" %>
        </div>
      <% end %>

    </div>
  </div>
</div>