<div class="wrapper">
  <div class="container">

    <label class="engineer-label mt-3 ml-2">Main</label>
    <div class="engineer-main-btn mt-3">
      <div class="left-btn">
        <%= link_to "案件検索", requests_path, class: "engineer-important-btn" %>
      </div>
      <div class="right-btn">
        <%= link_to "Excelを学ぶ", requests_path, class: "engineer-normal-btn" %>
      </div>
      <div class="center-btn mt-2">
        <%= link_to "質問掲示板", requests_path, class: "engineer-normal-btn" %>
      </div>
    </div>

    <hr class="line">

    <label class="engineer-label mt-3 ml-2">Engineer's</label>
    <div class="engineer-menu">
      <div class="engineer-left-box">
        <%= link_to "リクエスト案件の進捗", apply_engineer_path(current_engineer), class: "engineer-sub-btn" %>
        <%= link_to "仕掛中案件", replied_engineer_path(current_engineer), class: "engineer-sub-btn mt-2" %>
        <%= link_to "完了済案件", completed_engineer_path(current_engineer), class: "engineer-sub-btn mt-2" %>
      </div>
      <div class="engineer-right-box">
        <a href="#" class="engineer-sub-btn">請求書作成フォーム</a>
      </div>
    </div>
  

    <hr class="line">

    <label class="engineer-label mt-3 ml-2">Your Rating</label>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <label>クライアント評価</label>
          <span class="rating-star">
            <p class="star-actived rate-<%= current_engineer.ratings.average(:rate).round %>"></p>
            <p class="rate-count">
              <%= link_to engineer_ratings_path(current_engineer.id) do %>
                (<%= current_engineer.ratings.count %>)
              <% end %>
            </p>
          </span>
        </div>

        <div class="col-md">
          <label>エンジニア評価</label>
          <span class="rating-star">
            <p class="star-actived rate-<%= current_engineer.ratings.average(:rate).round %>"></p>
            <p class="rate-count">
              <%# link_to engineer_rating_path do %>
                (<%= current_engineer.ratings.count %>)
              <%# end %>
            </p>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>