<div class="wrapper">
  <!-- bloc-4 -->
  <div class="container mt-2">
    <%= link_to :back do %>
      <button class="btn btn-link">戻る</button>
    <% end %>
  </div>
  <div class="bloc l-bloc" id="bloc-4">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col">
          <h3 class="mg-md color-normal">
            <strong>初めての方へ</strong>
          </h3>
          <p class="color-normal">
            ExeceBridgeにご登録いただき有難うございます。<br>本ページでは、当サイトのご利用方法について、ご案内いたします。
          </p>
          <div class="text-center d-flex">
            <span class="icon-md fa fa-exclamation-triangle warning-icon"></span>
            <p class="warning-p color-normal">
              ユーザー登録をした段階では、学習者用として登録されております。
            </p>
          </div>
          <h3 class="mg-md color-normal">
            <span class="fa fa-pencil-alt"></span>ユーザー情報の編集<br>
          </h3>
          <p class="color-normal">
            ヘッダーにある「User」からユーザー情報を選択してください。<br>
          </p>
          <%= image_tag "manual1.png", class: "img-fluid mx-auto d-block lazyload", alt: "トップページの画像" %>
          <p class="color-normal">
            登録時点では、学習者用として登録されております。<br>この設定ではお客様がエンジニア一覧からエンジニアを検索する際に表示されなくなりますのでお客様からのダイレクトオファーは来なくなります。<br>個別案件に対してのリクエスト送信は可能です。<br>エンジニアとしての登録をご希望の方は右下の編集ボタンからエンジニア登録に切り替えをお願いいたします。
          </p>
          <%= image_tag "manual2.png", class: "img-fluid mx-auto d-block lazyload", alt: "ユーザー画面の画像" %>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-4 END -->
  <!-- bloc-5 -->
  <div class="bloc l-bloc" id="bloc-5">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col">
          <h3 class="mg-md color-normal">
            <strong>案件受注の仕方</strong>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= image_tag "step1.svg", class: "img-fluid mx-auto d-block lazyload", alt: "step1" %>
          <h3 class="mg-md color-normal">
            案件検索
          </h3>
          <p class="color-normal">
            トップページから案件を検索して詳細画面からリクエストを送信。<br>リクエストが確定した加田桜花は、「リクエスト案件の進捗」から見ることができます。
          </p>
        </div>
        <div class="col-md-3">
          <%= image_tag "step2.svg", class: "img-fluid mx-auto d-block lazyload", alt: "step2" %>
          <h3 class="mg-md color-normal">
            メールで打合せ
          </h3>
          <p class="color-normal">
            お客様が案件の依頼をするエンジニアを確定するとお客様のメールアドレスが確認できるので、後はメールで打合せをし、作成に取り掛かってください。
          </p>
        </div>
        <div class="col-md-3">
          <%= image_tag "step3.svg", class: "img-fluid mx-auto d-block lazyload", alt: "step3" %>
          <h3 class="mg-md color-normal">
            完了報告
          </h3>
          <p class="color-normal">
            受託した案件が完了すると「仕掛かり中案件」から完了報告を行ってください。
          </p>
        </div>
        <div class="col-md-3">
          <%= image_tag "step4.svg", class: "img-fluid mx-auto d-block lazyload", alt: "step4" %>
          <h3 class="mg-md color-normal">
            請求書の発送
          </h3>
          <p class="color-normal ">
            Step1〜Step3までの全てが完了した段階で「請求書作成フォーム」から請求書を作成し、お客様宛に送付してください。
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-5 END -->
</div>