<div class="wrapper">
  <div class="container mt-5">
    <table class="table table-bordered table-hover table-sm">
      <tr class="text-center">
        <td>案件番号</td>
        <td>依頼主</td>
        <td>タイトル</td>
        <td>依頼受諾日</td>
        <td>完了報告</td>
      </tr>
      <% @replied_orders.each do |order| %>
        <tr class="text-center">
          <td>
            <%= link_to request_path(order.request.id) do %>
              <%= order.request.id %>
            <% end %>
          </td>
          <td><%= order.request.customer.nickname %></td>
          <td><%= order.request.title %></td>
          <td><%= order.created_at %></td>
          <td>
            <%if order.request.complete.present? %>
              <%= form_with url: "/requests/#{order.request.id}/completes/#{order.request.complete.id}", method: :delete, local: true do |f| %>
                <%= f.submit "取り消す" %>
              <% end %>
            <% else %>
              <%= form_with url: "/requests/#{order.request.id}/completes", method: :post, local: true do |f| %>
                <%= f.hidden_field :conclusion, value: true %>
                <%= f.submit "完了" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>