<div class="wrapper">
  <div class="container mt-2">
    <%= link_to 'javascript:history.back()' do %>
      <button class="btn btn-link">Back</button>
    <% end %>
  </div>
  <div class="container mt-2">
    <div class="container customer-status-wrap shadow-sm p-3 mb-5 bg-white rounded">
      <table class="table table-hover table-sm">
        <tr class="text-center">
          <th class="table-th">案件番号</th>
          <th class="table-th">依頼主</th>
          <th class="table-th">タイトル</th>
          <th class="table-th">依頼受諾日</th>
          <th class="table-th">完了報告</th>
        </tr>

        <% @unfinished_request.each do |order| %>
          <tr class="text-center">
            <td class="align-middle">
              <%= link_to request_path(order.request.id) do %>
                <%= order.request.id %>
              <% end %>
            </td>
            <td class="align-middle"><%= order.request.customer.nickname %></td>
            <td class="align-middle"><%= order.request.title %></td>
            <td class="align-middle"><%= l order.created_at %></td>
            <td class="align-middle">
              <%= link_to "完了", request_complete_path(order.request.id, complete: {conclusion: true}), method: :put, class: "btn btn-success btn-sm" %>
            </td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>