<div class="wrapper">
  <div class="container">
    <div class="mt-5">
      <label class="devise-label">基本情報</label>
      <table class="table table-sm">
        <tr>
          <th>名前</th>
          <td><%= current_engineer.name %></td>
        </tr>
        <tr>
          <th>名前(カナ)</th>
          <td><%= current_engineer.name_kana %></td>
        </tr>
        <tr>
          <th>サイト表示名</th>
          <td><%= current_engineer.nickname %></td>
        </tr>
        <tr>
          <th>email</th>
          <td><%= current_engineer.email %></td>
        </tr>
        <tr>
          <th>開発言語</th>
          <td><%= current_engineer.language.name %></td>
        </tr>
        <tr>
          <th>自己PR</th>
          <td><%= current_engineer.profile %></td>
        </tr>
      </table>
      <div class="text-right">
        <%= link_to "編集", edit_engineer_path(current_engineer), class: "btn btn-sm btn-warning" %>
      </div>
    </div>
  </div>
</div>