<div class="wrapper">
  <div class="bloc l-bloc" id="bloc-2">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 offset-md-2 col-md-8">
          <div class="devise-wrap">
            <div class="form-group">
              <h3 class="mg-md color-normal devise-title">
                クライアント様 ログインページ<br>
              </h3>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "color-normal" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", autocomplete: "current-password", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password, class: "color-normal" %>
                <%= f.password_field :password, class: "form-control", data: {toggle: "tooltip", placement: "top", container: "body"}, title: "半角英数字で入力" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-check mt-3">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :パスワードを記憶する, class: "form-check-label" %>
                </div>
              <% end %>

              <div class="text-center mt-5">
                <%= f.submit "Login", class: "btn btn-rd submit-btn btn-princeton-orange btn-glossy btn-style btn-lg" %>
              </div>
            <% end %>
          </div>

          <%= link_to "パスワードを忘れた方はこちら", new_customer_password_path, class: "mt-3 d-block" %>

        </div>
      </div>

    </div>
  </div>
</div>
