<div class="wrapper">
  <div class="customer-form">
    <h2 class="devise-title">お客様用ログインページ</h2>

    <div class="text-right">
      <i class="far fa-hand-point-right finger"></i>
      <%= link_to "エンジニア用ログインページはこちらから", new_engineer_session_path, class: "btn btn-danger btn-sm" %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mt-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mt-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :パスワードを記憶する %>
        </div>
      <% end %>

      <div class="devise-submit-box mt-4">
        <%= f.submit "ログイン", class: "devise-submit" %>
      </div>
    <% end %>
  </div>
</div>