<!DOCTYPE html>
<html>
  <head>
    <title>ExeceBridge</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc l-bloc b-bloc" id="bloc-0">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-light row navbar-expand-md" role="navigation">
          <% if engineer_signed_in? %>
            <%= link_to "ExeceBridge", engineers_path, class: "navbar-brand" %>
          <% elsif customer_signed_in? %>
            <%= link_to "ExeceBridge", customers_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to "ExeceBridge", root_path, class: "navbar-brand" %>
          <% end %>
					<button id="nav-toggle" type="button" class="ml-auto ui-navbar-toggler navbar-toggler border-0 p-0" data-toggle="collapse" data-target=".navbar-25436" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse navbar-25436">
						<ul class="site-navigation nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Home</a>
							</li>
							<li>
								<div class="btn-group btn-dropdown">
									<a href="#" class="btn dropdown-toggle  btn-d  btn-lg btn-style-none drop" data-toggle="dropdown" aria-expanded="false">User</a>
									<ul class="dropdown-menu" role="menu">
                    <% if customer_signed_in? %>
                      <li>
                        <%= link_to "ユーザー情報", customer_path(current_customer), class: "dropdown-item a-block" %>
                      </li>
                      <li>
                        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "dropdown-item a-block" %>
                      </li>
                      <% elsif engineer_signed_in? %>
                      <li>
                        <%= link_to "ユーザー情報", engineer_path(current_engineer), class: "dropdown-item a-block" %>
                      </li>
                      <li>
                        <%= link_to "ログアウト", destroy_engineer_session_path, method: :delete, class: "dropdown-item a-block" %>
                      </li>
                      <% else %>
                      <li>
                        <%= link_to "ログイン", new_customer_session_path, class: "dropdown-item a-block" %>
                      </li>
                      <li>
                        <%= link_to '新規登録',new_customer_registration_path, class: "dropdown-item a-block" %>
                      </li>
                    <% end %>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="navbar-content-area d-block col-12 col-md-3 col-lg-2">
						<div class="row">

							<div class="align-self-center col-6 text-center">
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small">
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a>
                </div>
							</div>

							<div class="align-self-center col-6 text-center">
                <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">Tweet</a>
							</div>

						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->





  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message %>
  <% end %>

    <%= yield %>

    <!-- bloc-6 -->
    <div class="bloc bgc-black d-bloc" id="bloc-6">
      <div class="container bloc-lg">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h4 class="mg-md text-sm-left text-center tc-white">
              About
            </h4><a href="index.html" class="a-btn a-block footer-link">The Team</a><a href="index.html" class="a-btn a-block footer-link">Contact Us</a>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 class="mg-md text-sm-left text-center tc-white">
              Get the app
            </h4><a href="index.html" class="a-btn a-block footer-link">Android</a><a href="index.html" class="a-btn a-block footer-link">iOS</a>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 class="mg-md text-sm-left text-center tc-white">
              Contact Us
            </h4><a href="mailto:0215.miyatto@gmail.com" class="a-btn a-block footer-link">Mail</a>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 class="mg-md text-sm-left text-center tc-white">
              Connect
            </h4>
            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small">
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a>
                </div>
							</div>

							<div class="col-6 col-sm-6">
                <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">Tweet</a>
							</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- bloc-6 END -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0" nonce="JJ5oZILO"></script>
  </body>
</html>
